.game {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-between;
  min-height: 100%;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: 0px black solid;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.flipzone {
  background-color: rgb(233, 233, 233);
  border-right: 1px black solid;
  border-left: 1px black solid;
}
