.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

button {
  display: block;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
  padding: 15px 20px;
  letter-spacing: 3px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 300ms, border-color 300ms, color 300ms;
  background-color: transparent;
  outline: none;
  border-style: solid;
}

button.unclicked {
  border: 1px black solid;
  color: black;
}

button.clicked {
  border: 1px rgb(4, 187, 19) solid;
  color: rgb(4, 187, 19);
}

button:hover {
  transform: scale(1.02);
  border-color: rgb(4, 187, 19);
  color: rgb(4, 187, 19);
}